{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="poesie-single p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        <h1 class="py2">{{ .Title }}</h1>
        <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }} {{ if isset .Params "author" }} by {{ .Params.author }} {{ end }}</span><br>
        {{ $baseurl := .Site.BaseURL }}
      </div>

      <!-- Aggiungi i metatag di Open Graph -->
           {{ $ogTitle := .Title }}
           {{ $ogDescription := .Params.description }}
           {{ $ogImage := .Params.image | absURL }}
           <!-- Verifica il valore del campo "image" nel frontmatter -->
           <p>Debug Image: {{ $ogImage }}</p>

           <meta property="og:title" content="{{ $ogTitle }}">
           <meta property="og:description" content="{{ $ogDescription }}">
           <meta property="og:image" content="{{ $ogImage }}">
           <meta property="og:url" content="{{ .Permalink }}">



      <article class="post-content">
        {{ .Content }}
      </article>

      <!-- Passa le variabili del post al tuo shortcode "social_sharing.html" -->
    {{ partial "social_sharing.html" (dict "title" .Title "description" .Description "image" .Params.image) }}

      {{ if isset .Params "tags" }} {{ if len .Params.tags }}
<p class="post-meta"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;
  {{ range $i, $e := .Params.tags }}
      {{if $i}},&nbsp;{{end}}
      <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . }}">{{ . }}</a>
  {{ end }}
</p>
{{ end }} {{ end }}

      {{ $authorFileName := printf "%s.md" (replace .Params.autore " " "-" | lower) }}
      {{ $authorFilePath := printf "autori/%s" $authorFileName }}
      <!-- {{ printf "Author file path: %s" $authorFilePath }} -->
      {{ $authorBio := readFile (printf "content/%s" $authorFilePath) }}

      {{ if $authorBio }}
        <hr class="post-separator">
        <div class="author-bio">
          <p>{{ $authorBio | markdownify }}</p>
        </div>
      {{ end }}

      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
