<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if eq .Type "page" }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if eq .Type "page" }}{{ .Site.Params.description }}{{ else }}{{ .Params.description }}{{ end }}">
  <meta name="author" content="{{ if eq .Type "page" }}{{ .Site.Params.author }}{{ else }}{{ .Params.author }}{{ end }}">
  <meta name="keywords" content="blog, poesia, narrativa, fotografia">  <!-- Aggiungi i metatag di Open Graph -->
  <!-- Aggiungi i metatag di Open Graph -->
  {{ $ogTitle := .Title }}
  {{ $ogDescription := "" }}
  {{ $ogImage := "" }}

  {{ if eq .Type "page" }}
    {{ $ogDescription = .Site.Params.description }}
    {{ $ogImage = .Site.Params.image | absURL }}
  {{ else }}
    {{ $ogDescription = .Params.description }}
    {{ $ogImage = .Params.image | absURL }}
  {{ end }}

  {{ $ogImage = replace $ogImage "/images/" "/images/" }}

  {{ if not $ogImage }}
    {{ $ogImage = "URL-IMMAGINE-DEFAULT" | absURL }}
  {{ end }}
<!-- Meta tag di Open Graph -->
<meta property="og:title" content="{{ $ogTitle }}">
<meta property="og:description" content="{{ $ogDescription }}">
<meta property="og:image" content="{{ $ogImage }}">
<meta property="og:url" content="{{ .Permalink }}">

  <link rel="canonical" href="{{ .Permalink }}">
  <script src="https://kit.fontawesome.com/91fcd7bb06.js" crossorigin="anonymous"></script>

  <!-- Custom CSS -->
  <!-- Those css minifined and combined together. See combined-min.css below -->
<link rel="stylesheet" type="text/css" href="/css/combined-min.css">
  <!-- Highlight -->
  <!-- Also minified and combined into combined-min.css
  <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css"> -->

  <!-- Fonts -->
  <!-- Combined and minified
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic'>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:900,300'> -->

  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/combined-min.css">
  {{ if isset .Site.Params "search_engine" }}<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/tipuesearch/tipuesearch.css">{{ end }}


</head>
<body class="">
