
<!-- <div class="dropdown"> -->
  <!-- <button class="dropbtn">☰ {{ i18n "sections" }}</button>
  <div class="dropdown-content">
    <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/blog"><i class="fa fa-file-alt"></i> {{ i18n "blog" }}</a>
    <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/poesia"><i class="fa fa-feather-alt"></i> {{ i18n "poesia" }}</a>
  </div> -->
<!-- </div> -->
<a href="{{ .Site.BaseURL }}" class="menu-link menu-icons"><i class="fa fa-home"></i> {{ i18n "home" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/about/" class="menu-link menu-icons"><i class="fa fa-user"></i> {{ i18n "about" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/contact/" class="menu-link menu-icons"><i class="fa fa-envelope"></i> {{ i18n "contact" }}</a>
<!-- <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/poesiadelgiorno/" class="menu-link menu-icons"><i class="fa fa-pencil"></i> {{ i18n "poesiadelgiorno" }}</a> -->
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/ivostripezzi/" class="menu-link menu-icons"><i class="fa fa-pencil"></i> {{ i18n "ivostripezzi" }}</a>



<!-- {{ if isset .Site.Params "search_engine" }}
<form class="navbar-search" action="{{ .Site.BaseURL }}/search/index.html"
    onsubmit="return validateForm(this.elements['q'].value);">
    <input type="text" class="search-query" placeholder="{{ i18n "search" }}" name="q" id="tipue_search_input">
{{ end }}
</form> -->
